*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    gap: 10px;
    height: 100vh;
}
.card{
    height: 380px;
    width: 300px;
    color: bisque;
    background-color: rgb(31, 29, 29);
    border: 2px solid rgb(228, 196, 196);
    border-radius: 20%;
}