*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  background-color: black;
  color: white;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    white-space: nowrap;
  text-decoration: underline;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #105e85;
}
.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}